#container  {
    background-color: orange;
    padding: 0;
    padding-top: 15px;
    max-width: 700px;
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin: 0 auto;
}

#container label {
    padding-left: 50px;
}

#searchInput {
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    

}

#results {
    list-style-type: none;
    background-color: lightblue;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

li {
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 50px;
}